<div class="row">
    <div class="container col-md-8">
        <h2><%= @event[:date] %></h2>
        <h1><%= @event[:title] %></h1>
        <p><%= @event[:description] %></p>

        <div class="mt-5">
            <h2>RSVPs</h2>
        </div>  
    </div>


    <div class="container col-md-4">
        <h3>When?</h3>
        <p><%= @event[:date] %>
         <h3>Where?</h3>
        <p><%= @event[:location] %>
        <h3>How many guests so far?</h3>
        <p>????</p>
     
    </div>

    <div class="mt-5">
        <a href="/events/<%= @event[:id] %>/rsvps/new" class="btn btn-primary">RSVP Now</a>

</div>
